.mail-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
  padding: 10px;
  margin-right: 18px;
  width: calc(95vw - 210px);
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.mail-preview.unread {
  background-color: white;
}

.mail-preview.read {
  background-color: #f5f7f7;
}

.mail-preview .mail-address.unread,
.mail-preview .mail-content .mail-subject.unread,
.mail-preview .mail-date.unread {
  font-family: roboto-bold;
}

.mail-preview:hover {
  color: #202124;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.mail-preview .star-img-container {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.mail-preview .mail-address {
  margin-right: 30px;
  padding: 8px;
}

.mail-preview .mail-content {
  width: 0;
  flex-grow: 0.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mail-preview .mail-date {
  position: absolute;
  right: 25px;
}

.mail-preview .trash-img-container,
.mail-preview .read-img-container {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  box-sizing: content-box;
  display: none;
}

.mail-preview:hover .trash-img-container,
.mail-preview:hover .read-img-container {
  display: block;
}

.mail-preview:hover .mail-date {
  display: none;
}

.mail-preview .trash-img-container {
  right: 55px;
}

.mail-preview .read-img-container {
  right: 25px;
}

.mail-preview .read-img-container:hover,
.mail-preview .trash-img-container:hover,
.mail-preview .star-img-container:hover {
  background-color: rgba(128, 128, 128, 0.103);
  border-radius: 50%;
}
