.mail-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
  padding: 10px;
  margin-right: 18px;
  width: 600px;
  font-size: 14px;
  cursor: pointer;
}

.mail-preview .star {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.mail-preview .mail-address {
  margin-right: 30px;
}

/* .mail-preview .mail-content {
} */
