.home {
    background-image: url('./../../../assets/img/chouch.jpg');
    height: calc(100vh - 64px);
    background-size: cover;
    background-position: 70% 50%;
}

.home .slogan {
    font-size: 70px;
    color: #f2f1ef;
    font-family: roboto-bold;
    position: absolute;
    right: 10%;
    top: 200px;
}

.home .slogan>* {
    text-shadow: 2px 2px 2px #433e3e
}