:root {
    --color-green: #ccff90;
    --color-yellow: #fff475;
    --color-orange: #fbbc04;
    --color-red: #f28b82;
    --color-pink: #fdcfe8;
    --color-purple: #d7aefb;
    --color-light-blue: #cbf0f8;
    --color-dark-blue: #aecbfa;
}

.note {
    position: relative;
}

.note-preview {
    width: 100%;
    border-radius: 0.5rem;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 1.5rem;
    transition-duration: 0.218s;
    background-color: white;
    /* overflow: hidden; */
    color: #202124;
    position: relative;
    width: 238px;
}

.note-preview>*:not(.note-img):not(.note-video):not(.note-controls) {
    padding: 12px 16px 32px 16px;
    /* padding-bottom: 64px; */
}

.note-preview article {
    margin-bottom: 20px;
}

.note-preview input {
    opacity: 0;
}

.note-preview li {
    user-select: none;
    position: relative;
    color: rgb(32, 33, 36);
}

.note-preview .checked-img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 3px;
    opacity: 0.54;
}

.note-preview .checked-img:hover {
    opacity: 0.87;
}

.note-preview:hover {
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    border: 1px solid transparent;
    cursor: pointer;
}

.note-preview .crossed-out {
    text-decoration: line-through;
    color: #5f6368;
}

.note-img {
    display: block;
}

.note-video {
    display: block;
}

.green {
    background-color: #ccff90;
}

.yellow {
    background-color: #fff475;
}

.orange {
    background-color: #fbbc04;
}

.red {
    background-color: #f28b82;
}

.pink {
    background-color: #fdcfe8;
}

.purple {
    background-color: #d7aefb;
}

.dark-blue {
    background-color: #aecbfa;
}

.light-blue {
    background-color: #cbf0f8;
}

.teal {
    background-color: #a7ffeb;
}

.brown {
    background-color: #e6c9a8;
}

.grey {
    background-color: #e8eaed;
}

.white {
    background-color: white;
}

.border-visible {
    border: 1px solid #e0e0e0;
}

.border-invisible {
    border: 1px solid transparent;
}

.rounded-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.rounded-bottom {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.title {
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 24px;
}

.subject {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    padding-top: 4px;
}