.note-controls {
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.28s;
}

.control-container {
    display: inline-flex;
    color: #202124;
    opacity: 0.71;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.28s opacity;
}

.control-container img {
    height: 18px;
    width: 18px;
}

.control-container:hover {
    background-color: rgba(95, 99, 104, 0.157);
    opacity: 0.87;
    cursor: pointer;
}

.grey-gradient {
    color: rgba(0, 0, 0, 0.54);
    background: rgba(250, 250, 250, .8);
}

/*pinned note img*/

.note-pin {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: 0.28s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 5px;
}

.note-preview:hover .note-pin:hover {
    background-color: rgba(95, 99, 104, 0.157);
    opacity: 0.87;
    cursor: pointer;
}