.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    background-color: #202124;
}

.note-editor {
    display: inline-block;
    opacity: 1;
    min-width: 600px;
    height: 180px;
    border-radius: 8px;
    /* border: 1px solid rgb(224, 224, 224); */
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 155px;
    transform: translate(-50%, 50%);
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.note-editor form {
    height: 100%;
}

.note-editor input {
    width: 100%;
    border: none;
    font-size: 1.375rem;
    letter-spacing: 0;
    line-height: 1.75rem;
    padding: 16px 16px 12px;
    background-color: transparent;
}

.note-editor input:focus {
    outline: none;
}

.note-editor textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 12px 16px;
    resize: none;
    background-color: transparent;
}

.note-editor textarea:focus {
    outline: none;
}

.edit-note-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: transparent;
    line-height: 1.25rem;
    margin: 4px;
    padding: 8px 24px;
    border-radius: 4px;
    margin-right: 15px;
    color: rgba(0,0,0,.87);
    letter-spacing: .01785714em;
    height: 36px;
    font-size: .875rem;
    font-weight: 500;
}

.edit-note-button:hover {
    background-color: rgba(95, 99, 104, 0.039);
}