@media (max-width: 590px) {
    .note-list {
        margin-right: auto;
        columns: auto 1;
        margin-left: 15%;
        padding-right: 15px;
    }

    .pinned-note-list {
        margin-bottom: 20px;
    }

    .note-preview {
        width: 100%;
    }

    .filter-container {
        width: 32px;
        height: 32px;
    }

    .filter-container img {
        height: 16px;
        width: 16px;
    }
}

@media (max-width: 730px) {
    .input-container {
        width: 100%;
        min-width: 240px;
    }

    .add-note {
        margin-right: 20px;
        justify-content: end;
        margin-left: 70px;

    }

    .type-of-notes-icons {
        /* width: 100px; */
        top: 20%;
    }

    .fa-container {
        margin: none;
        height: 32px;
        width: 32px;
        margin-right: 0;
        /* height: 25%; */
        /* font-size: ; */
    }

    .fa-container img {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 420px) {

    .type-of-notes-icons {
        /* width: 100px; */
        top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-container {
        margin: none;
        height: 26px;
        width: 26px;
        /* height: 25%; */
        /* font-size: ; */
    }

    .fa-container img {
        width: 16px;
        height: 16px;
    }

    .note-list {
        margin-left: 70px;
    }
}

@media (max-width:600px) {
    .note-editor {
        width: 100%;
    }
}

@media (min-width: 590px) {
    .note-list {
        margin: auto;
        /* margin-left: 15%; */
        columns: auto 2;
        width: 50%;
    }
}

@media (min-width: 870px) {
    .note-list {
        /* margin-left: 10%; */
        /* margin-right: auto; */
        margin: auto;
        columns: auto 3;
        width: 60%;
    }

    .color-options {
        grid-template-columns: repeat(12, 1fr);
        top: 0;
        left: 0;
    }
}

@media (min-width: 1110px) {
    .note-list {
        margin: auto;
        /* margin-left: 10%; */
        /* margin-right: auto; */
        columns: auto 4;
        width: 70%;
    }
}

@media (min-width: 1350px) {
    .note-list {
        /* margin-left: 7%; */
        /* margin-right: auto; */
        margin: auto;
        columns: auto 5;
        width: 80%;
    }
}

@media (min-width: 1560px) {
    .note-list {
        margin-left: 7%;
        width: 70%;
    }
}

@media (min-width: 1650px) {
    .note-list {
        margin-right: 0px;
        columns: auto 6;
        width: 90%;
    }
}

@media (min-width: 1800px) {
    .note-list {
        margin-left: 140px;
        margin-right: 25px;
        column-count: 7;
        width: 90%;
    }
}