.note-app {
    /* display: flex; */
}

.main-layout {
    /* height: calc(100vh - 64px);
    overflow: scroll; */
}

.note-app .list-dividers-p {
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: .6875rem;
    margin: 16px 42px 8px;
    margin-left: 122px;
    margin-bottom: 10px;
}
