header {
  background: white;
  /* box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%); */
  box-shadow: rgba(100, 121, 143, 0.28) 0px -1px 0px 0px inset;
  border-width: 1px 1px 1px 6px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 64px;
}

.left {
  display: flex;
  width:50.5%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}

.logo img {
  padding-right: 8px;
  height: 40px;
}

.logo p {
  font-size: 22px;
  line-height: 24px;
  padding-left: 4px;
  color: #5f6368;
}

nav a {
  margin: 0.5em;
}

nav a:active {
  color: purple;
}

nav a.active {
  color: darkblue;
  font-weight: bold;
  text-decoration: overline;
}
