@media (max-width: 804px) {
    .main-search-container {
        display: none;
    }
}

@media (min-width: 1280px) {
    .main-search {
        width: 720px;
    }
}

@media (max-width: 1290px) {
    .main-search {
        width: calc(100vw - 400px);
    }

    .home .slogan {
        font-size: 50px;
    }
}

@media (max-width: 690px) {

    .home .slogan {
        top: 17%;
        left: 11%;
        position: absolute;
    }

    .about .about-title {
        padding: 20px;
    }

    .about-team {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 400px) {
    .home {
        background-position: 50% 50%;
    }

    .home .slogan {
        font-size: 36px;
    }
}