@media (max-width: 804px) {
    .main-search-container {
        display: none;
    }
}

@media (min-width:1280px) {
    .main-search {
        width: 720px;
    }
}

@media (max-width: 1290px) {
    /* .left {
        width: 50.5%;
    } */

    .main-search {
        width: calc(100vw - 400px);
    }

    .home .slogan {
        font-size: 50px;
    }
}

@media (max-width: 690px) {
    .home .slogan {
        width: 100%;
        right: -5%;
        position: absolute;
    }
}

@media (max-width: 400px) {
    .home .slogan {
        font-size: 36px;
    }
}